 
 body{  background-color:  hsl(30, 38%, 92%);}
 .card{ display: grid;
grid-template-columns: repeat(2,auto);
/* border: 5px solid red; */
border-radius:10px ;

width: 60%;
height: 40rem;

  margin: 5rem auto 0;     
  /* the margin to make the card in the center */
  background-color: 
    hsl(0, 0%, 100%);
}

.img-card  img{ width:100%;
  height: 100%;
/* border-top-left-radius:10px;  
border-bottom-left-radius: 10px;  */

}
.img-card {
   /* border: 5px solid red; */
  height: 40rem;
  width:100%;
}

.inf-card{ width: 400px;
  /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  */
   margin-left:2rem;   }
  
 
.frist-p{ 
      text-transform: uppercase;
      letter-spacing: 10px;
      font-weight: 400;
      color: hsl(228, 12%, 48%);   }
      
    
h1{ width: 60%;
      text-transform: capitalize;
      font-size: 36px;
      font-weight: 700;    }
  

 .secand-p{ color: hsl(228, 12%, 48%);
  font-weight: 500;
  line-break: 1;
  font-size: 20px;
  
   }
   .price{ margin: 10px auto;}
   .new-price{ font-size:60px;
    font-weight: 700;
  color: hsl(158, 36%, 37%);}
  del {
    color: hsl(228, 12%, 48%);
      text-decoration: line-through;
      margin-left: 10px;
      font-weight: 500;
      font-size: 20px;
    } 

    button{ background-color:  hsl(158, 42%, 18%);
    width: 400px;
    padding:15px;
    color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(196, 174, 174, 0.2);
    margin-top: 50px;
    text-transform: capitalize;
    }

    button img{
      width:20px;
      margin-right: 20px;
     }
   
   
 .attribution { font-size: 20px; 
        text-align: center; 
      margin-top: 20px;
      font-weight: 500;
      }
 .attribution a { color: hsl(158, 42%, 18%); }
      
    
@media (max-width: 995px) {
  

  .card{ display: grid;
    grid-template-columns: repeat(1,auto);
    
    border-radius:10px ;
    
    width: 60%;
    height: 60%;
      margin: 5rem auto 0;     
      background-color: 
        hsl(0, 0%, 100%);

        
    }

   
    
}
@media (max-width: 865px) {
  * {
    box-sizing: border-box;
  }
  
  .card{ 
    border-radius:10px ;
    
    width: 60%;
    height: 40%;
    
      margin: 5rem 0 0;     
      
      background-color: 
        hsl(0, 0%, 100%);

        
    }
    .img-card {
     
      height:30rem;
      width:100%;
    }
    button{ background-color:  hsl(158, 42%, 18%);
      width: 400px;
      padding:10px;
      color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 16px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      margin: 10px 0px 20px;
      text-transform: capitalize;
      }
  


}
@media (max-width: 455px) {
  .card{ 
    border-radius:15px ;
   margin:0;
    width:400px;
    
    }
   
  .img-card {  width:100%;}
  
  .img-card  img { width:100%;}
  
  .inf-card{ width: 100%;  height: 100%; }
 
  .secand-p{ color: hsl(228, 12%, 48%);
      font-weight: 500;
      line-break: 1;
      font-size: 20px;
      width: 300px;    }
      
       
  button{ width:350px; 
    
    padding:10px;}
   

}
@media (max-width: 380px) { 

  .card{  width:355px; margin: 0;}
  
 
  .secand-p{  width:260px;    }
  .new-price{ font-size:40px;}
    
  del { margin-left:5px;}
      
  button{  width: 280px;  margin:1rem 0;}
     
    

      }
  
   


